<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AjaxBasico</display-name>
  <welcome-file-list>
    <welcome-file>inicio2.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <servlet>
  <servlet-name>Jersey Web Application</servlet-name>
  <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
  <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>recursos</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <!-- INDICAMOS QUE TODO LOS QUE LLEVE REST LO VA A GESTIONAR JERSEY COMO INDICA ARRIBA -->
<servlet-mapping>
  <servlet-name>Jersey Web Application</servlet-name>
  <url-pattern>/recursos/*</url-pattern>
</servlet-mapping>
  <servlet>
    <description>CargarTrabajadoresTabla</description>
    <display-name>CargarTrabajadoresTabla</display-name>
    <servlet-name>CargarTrabajadoresTabla</servlet-name>
    <servlet-class>servlet.CargarTrabajadoresTabla</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarTrabajadoresTabla</servlet-name>
    <url-pattern>/CargarTrabajadoresTabla</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Para probar AJAX</description>
    <display-name>CargarMenu</display-name>
    <servlet-name>CargarMenu</servlet-name>
    <servlet-class>servlet.CargarMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarMenu</servlet-name>
    <url-pattern>/CargarMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Cargar JSON</description>
    <display-name>CargaJSON</display-name>
    <servlet-name>CargaJSON</servlet-name>
    <servlet-class>servlet.CargaJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargaJSON</servlet-name>
    <url-pattern>/CargaJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CargaMenuSelect</description>
    <display-name>CargaMenuSelect</display-name>
    <servlet-name>CargaMenuSelect</servlet-name>
    <servlet-class>servlet.CargaMenuSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargaMenuSelect</servlet-name>
    <url-pattern>/CargaMenuSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CargarTrabajadores</description>
    <display-name>CargarTrabajadores</display-name>
    <servlet-name>CargarTrabajadores</servlet-name>
    <servlet-class>servlet.CargarTrabajadores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarTrabajadores</servlet-name>
    <url-pattern>/CargarTrabajadores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>GenerarColores</description>
    <display-name>GenerarColores</display-name>
    <servlet-name>GenerarColores</servlet-name>
    <servlet-class>servlet.GenerarColores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerarColores</servlet-name>
    <url-pattern>/GenerarColores</url-pattern>
  </servlet-mapping>
</web-app>